<!--------------- Angular 14+ / Signal - start ---------------->
<!-- random selection -->
<!-- <div>
    <button (click)="onSelectUser()">
        <img 
            [src]="userAvatar()" 
            [alt]="users().name"
        />
        <span>{{ users().name }}</span>
    </button>
</div> -->

<!-- User list -->
<!-- <div>
    <button (click)="onSelectUser()">
        <img 
            [src]="userAvatar()" 
            [alt]="userName()"
        />
        <span>{{ userName() }}</span>
    </button>
</div> -->
<!--------------- Angular 14+ / Signal - end --------------->


<!--------------- Angular 13- - start ---------------->
<!-- random selection -->
<!-- <div>
    <button (click)="onSelectUser()">
        <img 
            [src]="userAvatar" 
            [alt]="users.name"
        />
        <span>{{ users.name }}</span>
    </button>
</div> -->

<!-- User list -->
<div>
    <button (click)="onSelectUser()">
        <img 
            [src]="avatarPath" 
            [alt]="user.name"
        />
        <span>{{ user.name }}</span>
    </button>
</div>
<!--------------- Angular 13- - end --------------->