<!--------------- Signal - start ---------------->
<!-- random selection -->
<!-- <div>
    <button (click)="onSelectUser()">
        <img 
            [src]="userAvatar14()" 
            [alt]="users14().name"
        />
        <span>{{ users14().name }}</span>
    </button>
</div> -->

<!-- User list -->
<!-- <div>
    <button (click)="onSelectUser()">
        <img 
            [src]="userAvatarIO14()" 
            [alt]="userNameIO14()"
        />
        <span>{{ userNameIO14() }}</span>
    </button>
</div> -->
<!--------------- Signal - end --------------->


<!--------------- Angular < 13 - start ---------------->
<!-- random selection -->
<!-- <div>
    <button (click)="onSelectUser()">
        <img 
            [src]="userAvatar13" 
            [alt]="users13.name"
        />
        <span>{{ users13.name }}</span>
    </button>
</div> -->

<!-- User list -->
<div>
    <button (click)="onSelectUser()">
        <img 
            [src]="userAvatarIO13" 
            [alt]="userNameIO13"
        />
        <span>{{ userNameIO13 }}</span>
    </button>
</div>
<!--------------- Angular < 13 - end --------------->